body{
	background-image: url("../css/marvel.jpg");
  background-position: center;
}
.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
  border: 8px solid black;
  padding: 5px;
  border-radius: 1rem;
  background-position: center;
  box-shadow: 2px 5px 1px #888888;
  width: 21rem;
  background-color: black;
  opacity: .8;
  float: left;
  margin-left: 11rem;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.title-text{
	border-bottom: solid #ff0000;
  float: left;
}
.description {
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-zi
}
.cover {
  text-align: center;
  margin: 0;
}

img {
    height: 21rem;
}
input[type=input], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}