body{
	background-color:red;
	font-family: 'Bree Serif', serif;
}
a:hover {
  font-weight: bold;
  color:white;
}
div a:hover {
  font-weight: bold;
  color:red;
}
.hero {
  color: blue;
  text-decoration: underline;
}
.searchresults{
  margin: 1rem;
}
.searchresults:hover{
  color:red;
  cursor:pointer;
}

.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}


.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
  border: 8px solid black;
  padding: 5px;
  border-radius: 1rem;
  background-position: center;
  box-shadow: 2px 5px 1px #888888;
  width: 21rem;
  background-color: black;
  float: left;
  margin-left: 11rem;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.title-text{
  border-bottom: solid #ff0000;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
.description {
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover {
  text-align: center;
  margin: 0;
}

img {
    height: 21rem;
}
input[type=input], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FF0000;
}

#form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}